:root {
    --default-bg-color: #EEE;
    --highlight-bg-color: #CCC;
    --strong-highlight-bg-color: #CCC;
    --shadow-color: rgba(0, 0, 0, 0.25);

    --text-color: #222;

    --first-level-reply: #222;
    --second-level-reply: #666;
    --third-level-reply: #AAA;
}

* {
    transition: all 0.3s;
    color: var(--text-color);
}

body {
    margin: 24px;
    background-color: var(--default-bg-color);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.navbar-container {
    display: flex;
    justify-content: left;
}

.navbar-item {
    margin-left: 12px;
    margin-right: 12px;
}

h1 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
}

.expandable {
    transform: scale(0);
}

.expandable-container > .expandable {
    transform: scale(1);
}

p {
    width: 50%;
    position: relative;
    left: 25%;
}

.article-content > p {
    text-align: justify;
    width: 70%;
    left: 15%;
}

.post-content > p {
    text-align: justify !important;
    width: 70%;
    left: 15%;
    padding: 8px;
}

.first-level-reply {
    margin-left: 0;
    border-left: solid 2px var(--first-level-reply);
}

.second-level-reply {
    margin-left: 48px;
    border-left: solid 2px var(--second-level-reply);
}

.third-level-reply {
    margin-left: 96px;
    border-left: solid 2px var(--third-level-reply);
}

a:hover {
    box-shadow: 0 0 8px 8px var(--strong-highlight-bg-color);
    background-color: var(--strong-highlight-bg-color);
}

.card-item {
    border-color: black;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    padding: 8px;
}

.card-item:hover {
    background-color: var(--highlight-bg-color);
}

.fit-image {
    width: 100%;
}

img {
    box-shadow: 1px 1px 4px 4px var(--shadow-color);
    z-index: 1;
}

.loading-spinner {
    border: 5px solid transparent;
    border-top: 5px solid var(--text-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: rotate 1s linear infinite;
    margin: 12px auto;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
}